{
  "installed": {
    "client_id": "YOUR_ID",
    "project_id": "YOUR_PROJECT",
    "auth_uri": "https://accounts.google.com/o/oauth2/auth",
    "token_uri": "https://oauth2.googleapis.com/token"
  }
}